body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0.55turn,#1b1b1b, #1d1c1c);
}
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050505;
    z-index: +1;
}
.header {
    width:90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;   
}
img {
    width: 100%;
    min-width: 190px;
    height: 100%;
}
ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 5px;
}
li {
    margin-left: 30px;
    font-size: 25px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #efefef;
}
a:hover {
    color: #dbd9d9;
}
.content {
    width: calc(90% - 10px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.content > span {
    font-size: 50px;
    color: #efefef;
    text-shadow: 10px 5px 5px #050505;
}
.form-container {
    height: 80%;
    min-height: 600px;
    width: 30%;
    background-color: #dbd9d9;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}
.form-container > span {
    font-size: 45px;
}
form {
    width: 100%;
    height: 100%;
    background-color: #dbd9d9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}
.line {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}
label > span {
    font-size: 30px;
    line-height: 60px;
}
.line > input {
    width: 100%;
    height: 40px;
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #868484;
    background-color: transparent;
    outline: none;
}
.signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background-color: #b1aaaa;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}
.signup-button:hover {
    background-color: #9b9595;
}
.signup-button > span {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #efefef;
    flex-direction: row;
    z-index: +1;
}
